*.mp4 filter=lfs diff=lfs merge=lfs -text
Final-Project-Team-2.mp4 filter=lfs diff=lfs merge=lfs -text
datasets/training.1600000.processed.noemoticon.csv filter=lfs diff=lfs merge=lfs -text
datasets/testdata.manual.2009.06.14.csv filter=lfs diff=lfs merge=lfs -text
datasets/surge-ai-brand-sentiment-dataset.csv filter=lfs diff=lfs merge=lfs -text
